.about {
  background: linear-gradient(#181d31, #320e61);
  color: white;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about_sec {
  display: flex;
}
.about_head {
  width: 500px;
  margin-right: 100px;
}
.about_head h2 {
  font-size: 48px;
}
.about_head p {
  margin-top: 20px;
  font-weight: 400;
  line-height: 1.2;
  font-size: 18px;
}
.hackathon_about {
  display: flex;
  padding: 200px 100px;
  align-items: center;
}
.hackathon_about_img {
  margin-right: 100px;
}
.hackathon_about_img > img {
  height: 250px;
}
.hackathon_about_head > h3 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 22px;
}
.hackathon_about_head > p {
  font-size: 18px;
  line-height: 1.2;
}
.hackathon_theme {
  display: flex;
  align-items: center;
}
.theme_head {
  margin-right: 100px;
}
.theme_head > h1 {
  font-size: 40px;
  line-height: 1.2;
}
.theme_head > p {
  font-size: 18px;
  line-height: 1.6;
}
.hackathon_mentors {
  text-align: center;
}
.hackathon_mentors h1 {
  font-weight: 700;
  padding-top: 50px;
}
.hackathon_platform {
  text-align: center;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.hackathon_platform > p {
  font-size: 18px;
  line-height: 1.2;
}
.hackathon_platform > a > button {
  padding: 15px 25px;
  margin-top: 8px;
  border-radius: 999px;
  cursor: pointer;
  border: 0px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgb(24, 50, 73);
}
.hackthon_speakers {
  text-align: center;
  padding-top: 50px;
}
.hackathon_workshops {
  text-align: center;
  padding-top: 50px;
}
.workshop_schedule {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}
.workshop {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #181d31;
  font-size: 20px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.workshop_title {
  font-weight: bold;
  color: #ed58ff;
}
.workshop_speaker {
  font-size: 18px;
}
.workshop_details {
  font-size: 16px;
  color: #9adee7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.solutionfest_speakers {
  padding: 50px 0px;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px 220px;
  justify-content: center;
}
.speaker {
  background-color: #181d31;
  width: 200px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.speaker_img {
  width: 200px;
  height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.speaker_name {
  font-size: 18px;
  padding: 10px;
}
.speaker_desc {
  padding-bottom: 10px;
  color: #ed58ff;
}
.a2cldr {
  width: auto;
  color: white;
  height: auto;
}
.a2cldr .a2cldr-btn {
  width: auto;
  height: auto;
  border: 2px solid white;
  padding: 5px 10px;
}
.a2cldr-outlook {
  display: none;
}
.a2cldr-yahoo {
  display: none;
}
/* Mobile View*/
@media only screen and (max-width: 450px) {
  .about {
    padding: 30px;
  }
  .about_sec {
    flex-direction: column;
  }
  .about_img img {
    width: 300px;
    margin-top: 50px;
  }
  .about_head {
    width: calc(100vw - 50px);
    margin-right: 0px;
  }
  .about_head h2 {
    font-size: 26px;
    line-height: 38px;
  }
  .hackathon_about {
    padding: 100px 0px 0px 0px;
    flex-direction: column;
  }
  .hackathon_about_img {
    margin-right: 0px;
    max-width: 300px;
    margin-bottom: 50px;
  }
  .hackathon_theme {
    flex-direction: column;
  }
  .theme_head {
    margin-top: 50px;
    margin-right: 0px;
  }
  .theme_head h1 {
    font-size: 26px;
  }
  .theme_img img {
    width: 340px;
    margin-top: 30px;
  }
  .hackathon_platform {
    width: 300px;
  }
  .hackathon_mentors h1 {
    font-size: 26px;
  }
  .hackathon_platform h1 {
    font-size: 26px;
  }
  .hackthon_speakers h1 {
    font-size: 26px;
  }
  .hackathon_workshops > h1 {
    font-size: 26px;
  }
  .workshop_schedule {
    display: flex;
    flex-direction: column;
  }
  .workshop {
    margin: 10px 0px;
  }
  .solutionfest_speakers {
    grid-template-columns: 175px 175px;
  }
  .speaker {
    width: 165px;
    margin-bottom: 10px;
  }
  .speaker_img {
    width: 165px;
    height: 165px;
  }
  .speaker_name {
    padding: 10px 5px;
  }
  .a2cldr-btn {
    font-size: 14px !important;
  }
}
