.header-logo > img {
  height: 50px;
}
.MuiPaper-root {
  background-color: #181d31 !important;
  padding: 0px 100px;
}
.MuiBox-root {
  justify-content: end;
  color: white;
}
.MuiButton-root {
  color: white !important;
}
.sidebarLinks {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 18px;
}
.sidebarLinksTag {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  text-align: center;
  border-radius: 78.8418px;
  font-weight: bold;
  width: 180px;
}
.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}
.navbarLinks {
  display: flex;
  list-style: none;
}
.navbarLinksTag {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
}
.navbarLinksTag:hover {
  color: tomato;
}

/* Mobile View*/
@media only screen and (max-width: 450px) {
  .navbar {
    display: none;
  }
  .MuiPaper-root {
    padding: 0px 10px;
  }
}
