.sponsors {
  background: linear-gradient(rgb(75, 21, 126), #320e61);
  color: white;
}
.sponsors_head {
  padding: 100px;
  display: flex;
  align-items: center;
}
.sponsors_head_content > p {
  font-size: 18px;
  line-height: 1.5;
}
.sponsors_head_content > a > button {
  padding: 15px 25px;
  margin-top: 20px;
  border-radius: 999px;
  cursor: pointer;
  border: 0px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgb(160, 18, 84);
}
.sponsors_head_img > img {
  width: 450px;
  margin-left: 100px;
}
.our_sponsors {
  text-align: center;
  padding: 50px;
}
.our_sponsors > h2 {
  font-size: 36px;
}
.community_partners {
  text-align: center;
  padding: 50px;
}
.community_partners > h2 {
  font-size: 36px;
}
.diamond_sponsors > h3 {
  margin: 30px;
  font-size: 26px;
}
.sponsors_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsors_div > div {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px;
}
.sponsors_div > div > a > img {
  width: 400px;
}
/* Mobile View*/
@media only screen and (max-width: 425px) {
  .sponsors_head {
    flex-direction: column;
    padding: 30px;
  }
  .sponsors_head_content > h1 {
    font-size: 22px;
    line-height: 1.8;
  }
  .sponsors_head_img > img {
    width: 300px;
    margin-left: 0px;
    margin-top: 50px;
  }
  .our_sponsors {
    padding: 30px;
  }
  .our_sponsors > h2 {
    font-size: 28px;
  }
  .community_partners {
    padding: 30px;
  }
  .community_partners > h2 {
    font-size: 28px;
  }
  .sponsors_div {
    flex-direction: column;
  }
  .sponsors_div > div > a > img {
    width: 300px;
  }
}
